@font-face {
    font-family: "game_ui";
    src: url('../assets/fonts/hoog0566.ttf') format("truetype");
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body {
    /*background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 9%,#207cca 12%,#151c1c 32%); */
    background: radial-gradient(ellipse at bottom, #151c1c 70%,#207cca 95%,#2989d8 98%,#7db9e8 100%);
    font-family: "game_ui"; 

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    cursor: default;
}

.sprite {
    background-image: url(../assets/img/ui-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-info {
    width: 42px;
    height: 42px;
    background-position: 0 0;
}

.sprite-info-small {
    width: 20px;
    height: 20px;
    background-size: 135px;
    margin-bottom: -3px;
    background-position: 0 0;
}

.sprite-jumps {
    width: 92px;
    height: 67px;
    background-position: -42px 0;
}

.sprite-jumps-small {
    width: 72px;
    height: 47px;
    background-position: -30px 0;
    background-size: 215px;
}

.sprite-lives {
    width: 83px;
    height: 83px;
    background-position: -134px 0;
}

.sprite-lives-small {
    width: 63px;
    height: 63px;
    background-position: -106px 0;
    background-size: 226px;

    transition: opacity 0.5s;
}

.sprite-time {
    width: 72px;
    height: 71px;
    background-position: -217px 0;
}

.sprite-time-small {
    width: 52px;
    height: 51px;
    background-position: -163px 0;
    background-size: 215px;
}

#ui-menu {
}

#main-menu {
    display: flex;
    position: absolute;
    z-index: 4;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: white;
}

#main-menu > #play-menu {
    display: flex;
    align-self: center;
    align-items: center;
    flex-grow: 2;
}

#play-menu > #play-button {
    display: inline-block;
    cursor: pointer;
    font-size: 3em;

    transition: color 1s;
}

#play-button:hover {
    color: #404040;
}

.bottom-info {
    text-align: right;

    border-bottom: 3px solid grey;

    transition: border-bottom 1s;
}

.bottom-info:hover {
    border-bottom: 3px solid #9edbff;
}

.info-text {
    display: inline-block;
    padding: 2px 5px;
    background-color: grey;
    border-top-left-radius: 10px;

    transition: background-color 1s;
}

.bottom-info:hover .info-text {
    background-color: #9edbff;
}

#levels-menu {
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: white;
    text-align: center;
    z-index: 3;
    /*z-index: 7; /*Debug*/

    transition: opacity 0.5s;
}

#levels-menu > h1 {
    display: inline-block;
    margin: 0px;
    padding: 0px 11px;
    position: relative;
    margin-top: -24px;
    background-color: black;
    color: white;
}

.level-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 10px;
}

#levels-menu .level {
    width: 210px;
    height: 130px;
    display: inline-block;
    background-color: #207cca;
    position: relative;
}

#levels-menu .level > img {
    width: 100%;
    height: 100%;
    position: relative;
}

.level > .bottom-info {
    margin-top: -31px;
    position: relative;
}

.level > .bottom-info:hover {
    margin-top: -31px;
}

.border-done {
    border-color: #9edbff;
}

.done {
    background-color: #9edbff;
}

.lvl-disabled {
    opacity: 0.8;
    pointer-events: none;
}

#info-menu {
    display: flex;
    position: absolute;
    z-index: 5;
    flex-direction: column;
    height: 300px;
    width: 525px;
    background-color: white;
    visibility: hidden;

    transition: opacity 1s;
}

#gameClear-menu {
    display: flex;
    position: absolute;
    z-index: 6;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: white;

    justify-content: center;
    align-items: center;

    transition: opacity 0.5s;
}

#gameClear-menu > #puntuacio {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;

    background-color: #e8f6ff;
}

#puntuacio > img {
    position: absolute;
    z-index: 1;
}

#puntuacio > span {
    position: absolute;
    z-index: 2;
    font-size: 2em;
    top: 89px;
    left: 207px;
}

.progrepoint {
    height: 100%;
    flex-grow: 1;
}

.progress {
    height: 100%;
    background-color: #2989d8;

    transition: width 1.5s ease-out;
}

.end-menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.end-menu > .button {
    flex-grow: 1;
    font-size: 1.3em;
    text-align: center;
    margin: 10px;
    padding: 15px 0px;
    
    background-color: #ebebeb;

    transition: box-shadow 0.5s;
}

.end-menu > .button:hover {
    box-shadow: 0 0 5px black;
}

#gameOver-menu {
    display: flex;
    position: absolute;
    z-index: 7;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: white;

    justify-content: center;
    align-items: center;

    transition: opacity 0.5s;
}

#pause-menu {
    display: flex;
    position: absolute;
    z-index: 8;
    flex-direction: column;
    height: 450px;
    width: 540px;
    background-color: white;

    justify-content: center;
    align-items: center;

    transition: opacity 0.5s;
}

#back-button {
    position: relative;
    right: 5px;
    font-size: 1.3em;
    display: inline-block;
    align-self: flex-end;
    cursor: pointer;

    transition: color 0.5s;
}

#back-button:hover {
    color: red;
}

#hud {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;

    transition: opacity 2.5s;
}

.hud-ui {
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
}

#hud-lives {
    top: 70px;
}

#hud-time {
    top: 70px;
    right: 0px;
    width: 250px;
}

#hud-jumps {
    top: 150px;
    right: 0px;
    width: 200px;
}

#hud-time, #hud-jumps {
    display: flex;
    align-content: center;
    font-size: 2.5em;
    color: white;
}

.nolife {
    opacity: 0.3;
}